*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: wheat;
    /* background-image:url(./Image/Akans.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
}
.col-md-4 img{
    width: 18vw;
    height: 48vh;
    border-radius: 15px;
}

.div-form{
    border: 3px solid skyblue;
    border-radius: 15px;
}

#submit-btn{
    width: 15vw;
    margin-top: 5%;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 130%;

}
#result{
    text-align: center;
}